In [1]:
diccionario = {'A': {
    'm1': 1, 'm2': 2, 'm3': 3, 'm4': 4, 'm5': 5
},
    'B': {
    'm1': 1, 'm2': 2, 'm3': 3, 'm4': 4, 'm5': 5
},
    'C': {
    'm1': 1, 'm2': 2, 'm3': 3, 'm4': 4, 'm5': 5
}}

In [2]:
import pandas as pd

In [3]:
example_pd = pd.DataFrame(diccionario)

In [4]:
print(example_pd)

    A  B  C
m1  1  1  1
m2  2  2  2
m3  3  3  3
m4  4  4  4
m5  5  5  5

In [5]:
# Transpuesta
print(example_pd.T)

   m1  m2  m3  m4  m5
A   1   2   3   4   5
B   1   2   3   4   5
C   1   2   3   4   5

In [6]:
# Acceder a una columna
print(example_pd['A'])

m1    1
m2    2
m3    3
m4    4
m5    5
Name: A, dtype: int64

In [7]:
# Acceder a dos columnas
print(example_pd[['A', 'B']])

    A  B
m1  1  1
m2  2  2
m3  3  3
m4  4  4
m5  5  5

In [11]:
# Acceder a una fila m1, loc sirve para nombre de fila
print(example_pd.loc['m1'])
# iloc es para acceder a una fila por su indice, iloc indice
print(example_pd.iloc[0])

A    1
B    1
C    1
Name: m1, dtype: int64
A    1
B    1
C    1
Name: m1, dtype: int64
0
0

In [ ]:
print(example_pd.index.get_loc('m1')) # Localice la posición de la fila m1

In [ ]:
# Ahora la columna A
print(example_pd.columns.get_loc('A'))

In [13]:
print(example_pd.iloc[1:5]) # Acceder a la posición 0,0

    A  B  C
m2  2  2  2
m3  3  3  3
m4  4  4  4
m5  5  5  5

In [14]:
print(example_pd.iloc[0, 0]) # Acceder a la posición 0,0

1

In [16]:
# Ahora con loc
print(example_pd.loc['m1', 'A']) # Acceder a la posición 0,0
print(example_pd.loc['m2':'m4']) # Acceder a la posición 0,0

1
    A  B  C
m2  2  2  2
m3  3  3  3
m4  4  4  4

In [19]:
print(example_pd['C'].iloc[:2])

m1    1
m2    2
Name: C, dtype: int64

In [21]:
print(example_pd.iloc[1:3,1:3])

    B  C
m2  2  2
m3  3  3

In [22]:
# Ahora con loc
print(example_pd.loc['m2':'m4', 'B':'C']) # Acceder a la posición 0,0

    B  C
m2  2  2
m3  3  3
m4  4  4

In [25]:
print(example_pd.loc['m2':'m4', ['B','C']])

    B  C
m2  2  2
m3  3  3
m4  4  4

In [27]:
# Con iloc
print(example_pd.iloc[[0,2], [1,2]])

    B  C
m1  1  1
m3  3  3

In [28]:
example_pd['B'].loc['m1'] = 10
print(example_pd)

    A   B  C
m1  1  10  1
m2  2   2  2
m3  3   3  3
m4  4   4  4
m5  5   5  5

In [29]:
# Extraer celda
print(example_pd.at['m1', 'B'])

10

In [30]:
# iat
print(example_pd.iat[0, 1])

10

In [32]:
#mean promedio 
print(example_pd.mean())
print(example_pd.iloc[0].mean())

A    3.0
B    4.8
C    3.0
dtype: float64
4.0

In [34]:
# concat
# 0 de arriba a abajo, 1 de izquierda a derecha
# axis 0 es para filas y axis 1 es para columnas
pd.concat([example_pd, example_pd], axis=0)

    A   B  C
m1  1  10  1
m2  2   2  2
m3  3   3  3
m4  4   4  4
m5  5   5  5
m1  1  10  1
m2  2   2  2
m3  3   3  3
m4  4   4  4
m5  5   5  5

In [40]:
# Crear una nueva columna
example_pd['D'] = example_pd['A'] + example_pd['B']

In [41]:
example_pd

    A   B  C   D
m1  1  10  1  11
m2  2   2  2   4
m3  3   3  3   6
m4  4   4  4   8
m5  5   5  5  10

In [42]:
example_pd.info

<bound method DataFrame.info of     A   B  C   D
m1  1  10  1  11
m2  2   2  2   4
m3  3   3  3   6
m4  4   4  4   8
m5  5   5  5  10>

In [50]:
# Sacar el promedio de una columna y sumarla a otra
print(example_pd[['A','B', 'C']])
example_pd[['A','B', 'C']].mean(axis=0)

    A   B  C
m1  1  10  1
m2  2   2  2
m3  3   3  3
m4  4   4  4
m5  5   5  5

A    3.0
B    4.8
C    3.0
dtype: float64