In [2]:
import pandas as pd

In [3]:
#Leer csv
toyota_df = pd.read_csv('Datasets/datasets/ToyotaCorolla.csv')

In [4]:
print(toyota_df.head(1))

   Id                                          Model  Price  Age_08_04  \
0   1  TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23

   Mfg_Month  Mfg_Year     KM Fuel_Type  HP  Met_Color  ... Powered_Windows  \
0         10      2002  46986    Diesel  90          1  ...               1

   Power_Steering  Radio  Mistlamps  Sport_Model  Backseat_Divider  \
0               1      0          0            0                 1

   Metallic_Rim  Radio cassette  Parking Assistant  Tow Bar
0             0               0                  0        0

[1 rows x 39 columns]

In [5]:
print(toyota_df.tail(1))

        Id                                        Model  Price  Age_08_04  \
1435  1442  TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950         76

      Mfg_Month  Mfg_Year  KM Fuel_Type   HP  Met_Color  ... Powered_Windows  \
1435          5      1998   1    Petrol  110          0  ...               0

      Power_Steering  Radio  Mistlamps  Sport_Model  Backseat_Divider  \
1435               1      0          0            0                 0

      Metallic_Rim  Radio cassette  Parking Assistant  Tow Bar
1435             0               0                  0        0

[1 rows x 39 columns]

In [8]:
# shape (filas, columnas)
toyota_df.shape

(1436, 39)

In [9]:
# Sacar información de las columnas
toyota_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1436 non-null   int64
 1   Model              1436 non-null   object
 2   Price              1436 non-null   int64
 3   Age_08_04          1436 non-null   int64
 4   Mfg_Month          1436 non-null   int64
 5   Mfg_Year           1436 non-null   int64
 6   KM                 1436 non-null   int64
 7   Fuel_Type          1436 non-null   object
 8   HP                 1436 non-null   int64
 9   Met_Color          1436 non-null   int64
 10  Color              1436 non-null   object
 11  Automatic          1436 non-null   int64
 12  CC                 1436 non-null   int64
 13  Doors              1436 non-null   int64
 14  Cylinders          1436 non-null   int64
 15  Gears              1436 non-null   int64
 16  Quarterly_Tax      1436 non-null   int64
 17  Weight             1436 non-null   int64
 18  Mfr_Guarantee      1436 non-null   int64
 19  BOVAG_Guarantee    1436 non-null   int64
 20  Guarantee_Period   1436 non-null   int64
 21  ABS                1436 non-null   int64
 22  Airbag_1           1436 non-null   int64
 23  Airbag_2           1436 non-null   int64
 24  Airco              1436 non-null   int64
 25  Automatic_airco    1436 non-null   int64
 26  Boardcomputer      1436 non-null   int64
 27  CD_Player          1436 non-null   int64
 28  Central_Lock       1436 non-null   int64
 29  Powered_Windows    1436 non-null   int64
 30  Power_Steering     1436 non-null   int64
 31  Radio              1436 non-null   int64
 32  Mistlamps          1436 non-null   int64
 33  Sport_Model        1436 non-null   int64
 34  Backseat_Divider   1436 non-null   int64
 35  Metallic_Rim       1436 non-null   int64
 36  Radio cassette     1436 non-null   int64
 37  Parking Assistant  1436 non-null   int64
 38  Tow Bar            1436 non-null   int64
dtypes: int64(36), object(3)
memory usage: 437.7+ KB

In [10]:
toyota_df.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio cassette,Parking Assistant,Tow Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
toyota_df['Price'].describe()

count     1436.000000
mean     10730.824513
std       3626.964585
min       4350.000000
25%       8450.000000
50%       9900.000000
75%      11950.000000
max      32500.000000
Name: Price, dtype: float64

In [14]:
toyota_df['Price'].loc[0:3]

0    13500
1    13750
2    13950
3    14950
Name: Price, dtype: int64

In [15]:
toyota_df['Price'].iloc[0:3]

0    13500
1    13750
2    13950
Name: Price, dtype: int64

In [16]:
toyota_df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio cassette', 'Parking Assistant', 'Tow Bar'],
      dtype='object')

In [17]:
# sacar la moda
toyota_df['Price'].mode()

0    8950
Name: Price, dtype: int64

In [18]:
#Renombrar nombre de columna y hacerlo al original
toyota_df.rename(columns={'Radio cassette':'Radio_Cassette'}, inplace=True)

In [19]:
toyota_df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_Cassette', 'Parking Assistant', 'Tow Bar'],
      dtype='object')

In [23]:
toyota_df.columns = [col_name.replace(' ', '_').upper() for col_name in list(toyota_df.columns)]

In [24]:
toyota_df.columns

Index(['ID', 'MODEL', 'PRICE', 'AGE_08_04', 'MFG_MONTH', 'MFG_YEAR', 'KM',
       'FUEL_TYPE', 'HP', 'MET_COLOR', 'COLOR', 'AUTOMATIC', 'CC', 'DOORS',
       'CYLINDERS', 'GEARS', 'QUARTERLY_TAX', 'WEIGHT', 'MFR_GUARANTEE',
       'BOVAG_GUARANTEE', 'GUARANTEE_PERIOD', 'ABS', 'AIRBAG_1', 'AIRBAG_2',
       'AIRCO', 'AUTOMATIC_AIRCO', 'BOARDCOMPUTER', 'CD_PLAYER',
       'CENTRAL_LOCK', 'POWERED_WINDOWS', 'POWER_STEERING', 'RADIO',
       'MISTLAMPS', 'SPORT_MODEL', 'BACKSEAT_DIVIDER', 'METALLIC_RIM',
       'RADIO_CASSETTE', 'PARKING_ASSISTANT', 'TOW_BAR'],
      dtype='object')