1. Proyecto Pandas
Escoge un dataset de tu interés. Recuerda que el mayor provecho de Pandas es cuando la data es estructurada o semiestructurada. Plantea al menos 4 preguntas de negocio que puedan resolverse en base a un análisis exploratorio (ej. Cuál es el promedio de ventas en Enero?)
- Al explorar los datos puedes aplicar slicing, concatenaciones y filtros
- Usa e interpreta ciertas estadísticas descriptivas
- Puedes generar una o dos gráficas que ayuden a responder tus preguntas de negocio
- Prepara una presentación preliminar donde nos cuentes sobre el caso escogido y preguntas de negocio: 5 minutos de duración

In [1]:
import pandas as pd

In [2]:
# leer el archivo
df = pd.read_csv('datasets/titanic.csv')

In [3]:
df.head()

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,"Karaic, Mr. Milan",male,30.0,3,0,0,349246,7.8958,NaN,S,0
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1

In [4]:
df.shape

(1309, 11)

- Promedio de edad de la gente del barco

In [5]:
# promedio de edad de la gente que murio
average = df['Age'].mean()
print(average)

29.881137667304014

- Cuantos hombres y mujeres estaban en el barco

In [6]:
male = df['Sex'].value_counts()['male']
female = df['Sex'].value_counts()['female']
print(f'Hubieron {male} hombres y {female} mujeres')
print(df.shape)

Hubieron 843 hombres y 466 mujeres
(1309, 11)

- Cuantas personas sobrevivieron y cuantas murieron

In [7]:
# Cuantas personas sobrevivieron
survived = df['Survived'].value_counts()[1]
print(f'Sobrevivieron {survived} personas')
# Cuantas personas murieron
died = df['Survived'].value_counts()[0]
print(f'Murieron {died} personas')

Sobrevivieron 500 personas
Murieron 809 personas

Cuanta gente sobrevivio en primer clase?

In [8]:
# Cuantas personas sobrevivieron en primera clase
survived_class1 = df['Survived'][df['Pclass'] == 1].value_counts()[1]
print(f'Sobrevivieron {survived_class1} personas de primera clase')

Sobrevivieron 200 personas de primera clase

- Cual fue el promedio de edad de las personas que no sobrevivieron

In [9]:
#Cual fue el promedio de edad de las personas que no sobrevivieron 
average_died = df['Age'][df['Survived'] == 0].mean()
print(f'El promedio de edad de las personas que no sobrevivieron fue {average_died}')

El promedio de edad de las personas que no sobrevivieron fue 30.545363489499195

- Cual fue el mayor costo del pasaje

In [10]:
# Cual fue el mayor costo del pasaje
max_fare = df['Fare'].max()
print(f'El mayor costo del pasaje fue {max_fare}')

El mayor costo del pasaje fue 512.3292